<h1 class="mt-4">ToDo List</h1>
<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">date</th>
        <th scope="col">time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let todo of todos" app-todo [todo] = "todo" 
        (onDeleteTodo) = "deleteTodo(todo)" 
        (onToggleReminder) = "toggleReminder(todo)" 
        (onDoneTodo) = "doneTodo(todo)">
        </tr>
    </tbody>
  </table>
  <app-add-todo (onAddTodo)="addTodo($event)"></app-add-todo>
